{% extends 'base.html' %}

{% block content %}

<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Nuestras embarcaciones</h2>

  </div> <!-- container //  -->
</section>



<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">

        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categorias</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1" style="">
              <div class="card-body">

                <ul class="list-menu">
                  <li><a href="{% url 'store' %}">Mostrar Todos</a></li>
                  {% for category in links %}
                  <li><a href="{{ category.get_url }}">{{ category.category_name}}</a></li>
                  {% endfor %}
                </ul>

              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group  .// -->

          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Puerto</h6>
              </a>
            </header>
            <form method="GET" action="{% url 'store' %}">
              <div class="filter-content collapse show" id="collapse_4" style="">
                <div class="card-body">
                  <label class="checkbox-btn">
                    <input type="checkbox" name="puerto" value="Santa Maria" {% if 'Santa Maria' in request.GET.puerto %}checked{% endif %}>
                    <span class="btn btn-light"> Santa Maria </span>
                  </label>

                  <label class="checkbox-btn">
                    <input type="checkbox" name="puerto" value="Bahía de Cádiz" {% if 'Bahía de Cádiz' in request.GET.puerto %}checked{% endif %}>
                    <span class="btn btn-light"> Bahía de Cádiz </span>
                  </label>

                  <label class="checkbox-btn">
                    <input type="checkbox" name="puerto" value="Algeciras" {% if 'Algeciras' in request.GET.puerto %}checked{% endif %}>
                    <span class="btn btn-light"> Algeciras </span>
                  </label>

                  <label class="checkbox-btn">
                    <input type="checkbox" name="puerto" value="Tarifa" {% if 'Tarifa' in request.GET.puerto %}checked{% endif %}>
                    <span class="btn btn-light"> Tarifa </span>
                  </label>

                  <label class="checkbox-btn">
                    <input type="checkbox" name="puerto" value="Barbate" {% if 'Barbate' in request.GET.puerto %}checked{% endif %}>
                    <span class="btn btn-light"> Barbate </span>
                  </label>
                </div><!-- card-body.// -->
              </div>

              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_5" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Fabricante</h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_5" style="">
                <div class="card-body">
                  <label class="checkbox-btn">
                    <input type="checkbox" name="fabricante" value="Rodman" {% if 'Rodman' in request.GET.fabricante  %}checked{% endif %}>
                    <span class="btn btn-light"> Rodman </span>
                  </label>

                  <label class="checkbox-btn">
                    <input type="checkbox" name="fabricante" value="Beneteau" {% if 'Beneteau' in request.GET.fabricante %}checked{% endif %}>
                    <span class="btn btn-light"> Beneteau </span>
                  </label>

                  <label class="checkbox-btn">
                    <input type="checkbox" name="fabricante" value="Jeanneau" {% if 'Jeanneau' in request.GET.fabricante %}checked{% endif %}>
                    <span class="btn btn-light"> Jeanneau </span>
                  </label>
                </div><!-- card-body.// -->
              </div>


              <header class="card-header">
                <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                  <i class="icon-control fa fa-chevron-down"></i>
                  <h6 class="title">Precios </h6>
                </a>
              </header>
              <div class="filter-content collapse show" id="collapse_3" style="">
                <div class="card-body">
  
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Precio Mínimo</label>
                      <!-- <input class="form-control" placeholder="0€" type="number"> -->
                      <select class="mr-2 form-control" name="min_price">
                        <option value="0" {% if request.GET.min_price == "0" %}selected{% endif %}>0€</option>
                        <option value="50" {% if request.GET.min_price == "50" %}selected{% endif %}>50€</option>
                        <option value="100" {% if request.GET.min_price == "100" %}selected{% endif %}>100€</option>
                        <option value="150" {% if request.GET.min_price == "150" %}selected{% endif %}>150€</option>
                        <option value="200" {% if request.GET.min_price == "200" %}selected{% endif %}>200€</option>
                        <option value="500" {% if request.GET.min_price == "500" %}selected{% endif %}>500€</option>
                        <option value="1000" {% if request.GET.min_price == "1000" %}selected{% endif %}>1000€</option>
                      </select>
                    </div>
                    <div class="form-group text-right col-md-6">
                      <label>Precio Máximo</label>
                      <select class="mr-2 form-control" name="max_price">
                        <option value="50" {% if request.GET.max_price == "50" %}selected{% endif %}>50€</option>
                        <option value="100" {% if request.GET.max_price == "100" %}selected{% endif %}>100€</option>
                        <option value="150" {% if request.GET.max_price == "150" %}selected{% endif %}>150€</option>
                        <option value="200" {% if request.GET.max_price == "200" %}selected{% endif %}>200€</option>
                        <option value="500" {% if request.GET.max_price == "500" %}selected{% endif %}>500€</option>
                        <option value="1000" {% if request.GET.max_price == "1000" %}selected{% endif %}>1000€</option>
                        <option value="2000" {% if request.GET.max_price == "2000" %}selected{% endif %}>2000€+</option>
                      </select>
                    </div>
                  </div> <!-- form-row.// -->
                </div><!-- card-body.// -->
              </div>
              


              <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
          </article> <!-- filter-group .// -->

          <article class="filter-group">

          </article> <!-- filter-group .// -->

        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      <main class="col-md-9">

        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto"><b>{{ product_count }}</b> Embarcaciones encontrados </span>

          </div>
        </header><!-- sect-heading -->

        <div class="row">
          {% if products %}
          {% for product in products %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">


                <a href="{{ product.get_url }}"><img src="{{ product.images.url }}"></a>

              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
                  <div class="price-wrap mt-2">
                    <span class="price">{{ product.price }}€/día</span>
                  </div> <!-- price-wrap.// -->
                </div>
                <a href="{% url 'add_cart' product.id %}" class="btn btn-block btn-success">Agregar al Carrito </a>
              </figcaption>
            </figure>
          </div> <!-- col.// -->
          {% endfor %}
          {% else %}
          <div style="text-align: center; color: darkgray; font-size: small;">
              <h2>No se han encontrado resultados para tu búsqueda</h2>
          </div>
          {% endif %}

        </div> <!-- row end.// -->


        <nav class="mt-4" aria-label="Page navigation sample">

          {% if products.has_other_pages %}
          <ul class="pagination">
            {% if products.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ products.previous_page_number }}">Anterior</a></li>
            {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">Anterior</a></li>
            {% endif %}

            {% for i in products.paginator.page_range %}
              {% if products.number == i %}
              <li class="page-item active"><a class="page-link" href="#">{{i}}</a></li>
              {% else %}
              <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}

            {% if products.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Siguiente</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Siguiente</a></li>
            {% endif %}
          </ul>
          {% endif %}

        </nav>

      </main> <!-- col.// -->

    </div>

  </div> <!-- container .//  -->
</section>
{% endblock %}
